---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="A tidbit about Austin Abbott"
  pubDate={new Date("Feb 12 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Results-driven Software Engineer with experience in front-end and full-stack
    development. Over three and a half years of hands-on software development
    experience in the bill pay and payments industry, with a proven track record
    of success at BillGO.
  </p>
</Layout>
