---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="A tidbit about me"
  pubDate={new Date("May 23 2024")}
  heroImage="../src/images/blog-placeholder-about.jpg"
>
  <p>
    Results-driven Software Engineer with experience in front-end and full-stack
    development. Currently building next-gen payment software at <a
      href="https://moov.io/"
      target="_blank">Moov</a
    >
  </p>
  <p>
    Outside of work, I enjoy cycling, obstacle course racing, and traveling. I
    might get back into music one day, we'll see.
  </p>
  <p>All views expressed are my own and do not represent my employer.</p>
</Layout>
