---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hey there 👋</h1>
      <p>I'm Austin Abbott, welcome to my (new) blog!</p>
      <p>
        Things are a bit empty right now, but stick around, updates are coming
        🚧
      </p>
    </main>
    <Footer />
  </body>
</html>
